<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>~:a0~</key>
	<string>mms_face_01</string>
	<key>~:a1~</key>
	<string>mms_face_02</string>
	<key>~:a2~</key>
	<string>mms_face_03</string>
	<key>~:a3~</key>
	<string>mms_face_04</string>
	<key>~:a4~</key>
	<string>mms_face_05</string>
	<key>~:a5~</key>
	<string>mms_face_06</string>
	<key>~:a6~</key>
	<string>mms_face_07</string>
	<key>~:a7~</key>
	<string>mms_face_08</string>
	<key>~:a8~</key>
	<string>mms_face_09</string>
	<key>~:a9~</key>
	<string>mms_face_10</string>
	<key>~:b0~</key>
	<string>mms_face_11</string>
	<key>~:b1~</key>
	<string>mms_face_12</string>
	<key>~:b2~</key>
	<string>mms_face_13</string>
	<key>~:b3~</key>
	<string>mms_face_14</string>
	<key>~:b4~</key>
	<string>mms_face_15</string>
	<key>~:b5~</key>
	<string>mms_face_16</string>
	<key>~:b6~</key>
	<string>mms_face_17</string>
	<key>~:b7~</key>
	<string>mms_face_18</string>
	<key>~:b8~</key>
	<string>mms_face_19</string>
	<key>~:b9~</key>
	<string>mms_face_20</string>
	<key>~:c0~</key>
	<string>mms_face_21</string>
	<key>~:c1~</key>
	<string>mms_face_22</string>
	<key>~:c2~</key>
	<string>mms_face_23</string>
	<key>~:c3~</key>
	<string>mms_face_24</string>
</dict>
</plist>
